<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
              {% if my_page.title and my_page.Timestamp == null %}
                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              {% endif %}
            {% endfor %}
            <!-- <li><a href="#">Sign Up</a></li> -->
            <!-- <li><a href="#">Log In</a></li> -->
            <!-- <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" -->
                   <!-- class="icon fa-feed"> RSS Feed</a></li> -->
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
