---
layout: default
---

{% for comp in site.data.companies %}
	{% if comp.id == page.id %}
    	{% assign company = comp %}
  	{% else %}
  	{% endif %}
{% endfor %}

<article id="main">

  	<header style="background-image: url('../images/company/{{company.id}}/{{company.coverImageFilename}}');">
    	<h2>{{ company.title }}</h2>
    	<p>{{ company.statement }}</p>
  	</header>

  	<section class="wrapper style5">
	  	<div class="inner">
			<div class="row">
				<div class="9u 12u$(medium)">
					<header>
						<h4>{{ company.title }}</h4>
						<p>{{ company.statement }}</p>
					</header>
					<p>{{ company.description }}{{ company.description }}</p>
					<h4>Wir nutzen künstliche Intelligenz für</h4>
					<p>{{ company.ai }}</p>
					<h4>Produkte</h4>
					<div class="row">
						{% for product in company.products %}
							<p>
								<span class="image left">
									<img src="../images/company/{{company.id}}/products/{{ product.coverImageFilename }}"/>	
								</span>	
								<b>{{ product.name }}</b><br>
								{{ product.description }}	
							</p>
						{% endfor %}
					</div>					
				</div>
				<div class="3u 12u$(medium)">
					<ul class="alt-no-border">
						<li>
							<img src="../images/company/{{company.id}}/{{company.logoImageFilename}}"/>
						</li>
						<li>
							<a href="{{ company.website }}" class="icon fa-home fa-2x"><span class="label">Website</span></a>
							<a href="mailto:{{ company.email }}" class="icon fa-envelope fa-2x"><span class="label">E-Mail</span></a>
							<a href="https://twitter.com/{{company.twitter}}" class="icon fa-twitter fa-2x"><span class="label">Twitter</span></a>
							<a href="https://github.com/{{company.github}}" class="icon fa-github fa-2x"><span class="label">Github</span></a>
							<a href="https://www.linkedin.com/company/{{ company.linkedin }}" class="icon fa-linkedin fa-2x"><span class="label">Github</span></a>
						</li>
						<li>
							<h5>Gründung:</h5>
							{{ company.foundation }}
						</li>
						<li>
							<h5>Mitarbeiter:</h5>
							{{ company.employees }}
						</li>
						<li>
							{{ company.ceo }}
							<h5>Ansprechpartner:</h5>
							{% for person in company.persons %}
							    {{ person.name }} ({{person.role}})
							{% endfor %}
						</li>
						<li>
							<h5>Jobs:</h5>
							<a href="{{ company.jobsWebsite }}">{{ company.jobsWebsite }}</a>
						</li>
						<li>
							<h5>Addresse(n):</h5>
							{% for office in company.offices %}
							    <p>{{ office.street }}<br>{{ office.postalCode }}, {{ office.city }}</p>
							{% endfor %}
						</li>
					</ul>
				</div>
			</div>
	    </div>
  	</section>
</article>
